.ui-overlay.ixion > .content {
  width: 400px;
  height: initial;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.ui-overlay.ixion .ui-header .ui-panel {
  background-color: rgba(0,0,0,0.2);
  padding: 2px;
}

.ui-overlay.ixion > .content > .ui-label {
  display: block;
}

.ui-overlay.ixion .label-field {
  width: 40% !important;
}

.ui-overlay.ixion.settings .label-field {
  width: 80% !important;
}

.ui-overlay.ixion .bake-button {
  font-size: 14px;
  height: 32px;
  text-transform: uppercase;
  line-height: 32px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #e54d42;
  border: none;
  color: #fff;
  margin: 4px 4px 8px 4px;
}

.ixion hr {
  color: rgba(0,0,0,0.3);
  border-color: rgba(0,0,0,0.15);
}

.ui-header.center {
  background-color: rgba(0,0,0,0.2);
  text-align: center;
}

.ixion p, .ixion em {
  margin-left: 8px;
  margin-right: 8px;
}

.right-aligned {
  text-align: right
}
